# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# -----------------------------
# Environment variables
# -----------------------------
.env

# -----------------------------
# Google Cloud credentials (VERY IMPORTANT)
# -----------------------------
*.json
service-account*.json
gcp*.json

# -----------------------------
# Streamlit
# -----------------------------
.streamlit/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# IDEs
# -----------------------------
.vscode/
.idea/
